

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: sans-serif; 
}
.navbar{
background-color: #212529;
flex-direction: row;
justify-content: space-between;
    color:white;
    padding: 25px 60px;
}
.film {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;

}
.ticketAmount {
    position: absolute;
    top: -15px;
    color: white;
    font-size: 16px;
    padding: 3px;
    right: -16;
    background-color: red;
    color: white;

}
